
    
<li id="post-<%= i._id %>">
    <% if((locals.user)&& (locals.user.id == i.user.id) ){%>
    <small>
        <a class="delete-post-button" href="/posts/destroy/<%= i.id %>">X</a>
    </small>
    <%}%>
     <textarea  cols="30" rows="3" readonly><%= i.content %>  
        <%= i.user.email %> 
    </textarea>
     <% if(locals.user){ %>
     <form id="new-comment-form" action="/comments/create" method="POST">
        <input type="text" name="content"   placeholder = "Add comment... " required>
        <input type="hidden" name="post" value=" <%= i._id %> ">
        <input type="submit" value="Add">
     </form>
     <%}%>
     <div class="post-comments-list">
        <ul id="post-comments-<%= i._id %>">
<%                       for(comment of i.comments){                                                            %>
                <%- include('_comments'); %>
<%                         }                                                                                     %>
        </ul>
     </div>
     
    </li>

